body{
    padding-bottom: 200px;
}

.navbar-nav li a , .navbar-brand{
    font-size:16px;
    font-family: Roboto, sans-serif;
    font-weight:400px;
    color: rgba(20, 20, 20, 1) !important;
}
.navbar-brand{
    font-size:18px;
}
.con-bg{
    background-color:rgba(93, 169, 233, 0.08);
    position: relative !important;
}
@media only screen and (min-width: 992px){
    .side-card{
        position:absolute !important;
        top:170px;
        right:60px;
    }
    .btn-purchase{
        padding-left:140px;
        padding-right:120px;
        font-size:15px;
    }
}


.desc-p{
    color: rgba(129, 131, 134, 1);

}
.age-p{
    color: rgba(93, 169, 233, 1);
    font-size:20px;

}
p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.tags , .tag1{
    width:70px;
    color: rgba(93, 169, 233, 1);
    font-size: 12px;
}
.tags{
    width:50px;
}
.design{
    color:#ff7477;
}
.img-free{
position:relative !important;
}
.carousel-caption{
    position:absolute !important; 
}
.lock-icon{
    width:40px;
    left:130px;
    top:45px;
}
.play-icon{
    width:62px;
    left:119px;
    top:42px;
}
.text-img{
    top:100px;
    right:80px;
    
}
.icon{
    width:5%;
}
h5{
    font-family: Roboto , sans-serif;
}
.share-icon{
    width:25px;
    height:25px;
}
.rating-line{
    width: 250px;
}
.profile-name{
    font-weight: bold;
}
.btn-see-more{
    border-radius:10px;
    font-weight: bold;
    opacity:0.7;
}